theme: dark

server:
  address: tcp://0.0.0.0:9091

log:
  level: info

authentication_backend:
  file:
    path: /config/users_database.yml

access_control:
  default_policy: deny
  rules:
    - domain: "{{ subdomain_auth }}.{{ domain }}"
      policy: bypass
    - domain: "{{ subdomain_tasks }}.{{ domain }}"
      policy: one_factor

session:
  cookies:
    - domain: "{{ domain }}"
      authelia_url: "https://{{ subdomain_auth }}.{{ domain }}"
      name: authelia_session

storage:
  postgres:
    address: tcp://postgres:5432
    database: {{ authelia_db_name }}
    username: {{ authelia_db_user }}
    password: "${AUTHELIA_DB_PASSWORD}"

notifier:
  smtp:
    address: "smtp://${BREVO_SMTP_HOST}:${BREVO_SMTP_PORT}"
    username: "${BREVO_SMTP_USER}"
    password: "${BREVO_SMTP_PASS}"
    sender: "${MAIL_FROM}"

identity_providers:
  oidc:
    issuer_private_key_file: /secrets/{{ authelia_oidc_private_key_path | basename }}
    clients:
      - id: "{{ oidc_client_id }}"
        description: "Vikunja"
        secret: "${AUTHELIA_OIDC_CLIENT_SECRET}"
        public: false
        authorization_policy: one_factor
        redirect_uris:
          - "https://{{ subdomain_tasks }}.{{ domain }}/auth/openid/authelia"
        scopes:
          - openid
          - profile
          - email
