api:
  dashboard: {{ 'true' if traefik_dashboard else 'false' }}

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"
  metrics:
    address: ":8082"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    watch: true
    exposedByDefault: false
  file:
    directory: /etc/traefik/dynamic
    watch: true

log:
  level: INFO

metrics:
  prometheus:
    addEntryPointsLabels: true
    addServicesLabels: true
    entryPoint: metrics

certificatesResolvers:
  letsencrypt:
    acme:
      email: {{ email_admin }}
      storage: /letsencrypt/acme.json
      httpChallenge:
        entryPoint: web
