APT::Periodic::Update-Package-Lists "{{ unattended_update_package_lists }}";
APT::Periodic::Download-Upgradeable-Packages "{{ unattended_download_upgradeable_packages }}";
APT::Periodic::AutocleanInterval "{{ unattended_autoclean_interval }}";
APT::Periodic::Unattended-Upgrade "{{ unattended_upgrade_enabled }}";
